.landing {
  width: 100%;
  height: 100%;
  background-image: url(../assets/bike-sm.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ---------------------------------------------------------------------
 Breakpoint: (Retina2x)
------------------------------------------------------------------------ */

@include media('retina2x') {
  .landing {
    background-image: url(../assets/bike-sm@2x.png);
  }
}

/* ---------------------------------------------------------------------
 Breakpoint: Large (70em)
------------------------------------------------------------------------ */

@include media('>large') {
  .landing {
    background-image: url(../assets/bike.png);
  }
}

/* ---------------------------------------------------------------------
 Breakpoint: (Large, Retina2x)
------------------------------------------------------------------------ */

@include media('>large', 'retina2x') {
  .landing {
    background-image: url(../assets/bike@2x.png);
  }
}
