@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Stardos+Stencil&display=swap");

/* Open Sans */
$opensans: "Open Sans", Helvetica, Arial, "Lucida Grande", sans-serif;

/* Stencile Font */
$stencil: "Stardos Stencil", cursive;

.hero-heading {
  font-family: $stencil;
  font-weight: 700;
  font-size: 3.2rem;
  color: $color-white;
  text-transform: uppercase;
}
