/*** Colors ***/
$color-white: #fff;
$color-black: #000;
$color-dark-grey: #4f5e66;
$color-med-grey: #d8d8d8;
$color-light-grey: #d3d7d9;
$color-primary-background: #414141;
$color-secondary-background: lighten($color-primary-background, 10%);
$color-primary: rgb(191, 176, 217);
$color-drop-header: rgba($color-primary, 0.7);

/*** Positions ***/
$padding-mobile: 0.75em;
$padding-tablet: 2em;
$padding-desktop: 3em;
$container-max: 81em; //1200px + 6em for padding;
