.hero {
  width: 100%;
  height: 35em;
  margin-top: -5.404375em;
  position: relative;
  float: left;
  background-image: url(../assets/home-hero-sm.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__heading-wrapper {
    padding-right: 0.75em;
    position: absolute;
    right: 0;
    top: 50%;
  }

  &__arrow {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    animation: arrow 2s ease-in-out infinite;
    animation-delay: -1s;

    &--2 {
      bottom: 0;
      animation-delay: -0.5s;
    }

    &--3 {
      bottom: 0%;
      animation-delay: 0s;
    }
  }
}

/* ---------------------------------------------------------------------
 Breakpoint: Custom (25em)
------------------------------------------------------------------------ */

@media screen and (min-width: 25em) {
  .hero {
    height: 39em;
  }
}

/* ---------------------------------------------------------------------
 Breakpoint: Custom (31.25em)
------------------------------------------------------------------------ */

@media screen and (min-width: 31.25em) {
  .hero {
    height: 47em;
  }
}

/* ---------------------------------------------------------------------
 Breakpoint: Small (37.5em)
------------------------------------------------------------------------ */

@include media('>small') {
  .hero {
    background-image: url(../assets/home-hero-lg.png);
    background-position-x: right;
  }
}

/* ---------------------------------------------------------------------
 Breakpoint: Small (37.5em)
------------------------------------------------------------------------ */

@include media('>medium') {
  .hero {
    margin-top: -6.404375em;

    &__heading-wrapper {
      padding-right: 2em;
    }
  }
}

/* ---------------------------------------------------------------------
 Breakpoint: Large (70em)
------------------------------------------------------------------------ */

@include media('>large') {
  .hero {
    margin-top: -7.125em;
    background-position-x: center;

    &__heading-wrapper {
      padding-right: 3em;
    }
  }
}
