.neon {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff, 0 0 70px #228dff, 0 0 80px #228dff,
    0 0 100px #228dff, 0 0 150px #228dff;
  animation: colorRotate 10s linear infinite;

  &--blink {
    animation: blink linear infinite 2s;
  }

  &--glow {
    animation: glow linear infinite 2s;
  }

  & span {
    font-size: 3rem;
    font-family: $stencil;
    letter-spacing: 2px;
  }
}
