.neon {
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 10px $color-white, 0 0 20px #f5d483, 0 0 40px #f5d483, 0 0 80px $color-white,
    0 0 160px $color-white;

  &--0 {
    animation: buzz 0.03s infinite alternate-reverse 0.25s;
  }

  &--1 {
    animation: buzz 0.03s infinite alternate-reverse 1.25s;
  }

  &--2 {
    animation: buzz 0.03s infinite alternate-reverse 0.5s;
  }

  & span {
    @include stencil_font;

    font-size: 2rem;
  }
}
